{% extends 'base.html' %}

{% block content %}
<section>
    <div class="container">
        <h2>New Financing Calculator</h2>

        <form name="refinancing_calculator" action="javascript:newfinancingCalculator();">
            <div class="row">
                <div class="col-md-6">
                    <label>What property are you buying?</label>
                </div>
                <div class="col-md-6">
                    <!--<select class="form-control" id="building_type" required>-->
                      <!--<option value="Executive Condo">Executive Condo</option>-->
                      <!--<option value="Private Condo">Private Condo</option>-->
                      <!--<option value="Landed Property">Landed Property</option>-->
                      <!--<option value="HDB">HDB</option>-->
                    <!--</select>-->
                    <input type="radio" id="p1" name="property" value="Executive Condo"> Executive Condo <br/>
                    <input type="radio" id="p2" name="property" value="Private Condo"> Private Condo <br/>
                    <input type="radio" id="p3" name="property" value="Landed Property"> Landed Property <br/>
                    <input type="radio" id="p4" name="property" value="HDB"> HDB <br/>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-6">
                    <label>Is the property completed or under construction?</label>
                </div>
                <div class="col-md-6" required>
                    <!--<select class="form-control" id="construction_type">-->
                      <!--<option value="Completed">Completed</option>-->
                      <!--<option value="Under Construction">Under Construction</option>-->
                    <!--</select>-->
                    <input type="radio" id="cs1" name="construction_status" value="Completed"> Completed <br/>
                    <input type="radio" id="cs2" name="construction_status" value="Under Construction"> Under Construction
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-6">
                    <label>Have you placed the Option Fee (deposit) for your dream home?</label>
                </div>
                <div class="col-md-6">
                    <!--<select class="form-control">-->
                      <!--<option value="Yes">Yes</option>-->
                      <!--<option value="No">No</option>-->
                    <!--</select>-->
                    <input type="radio" id="of1" name="option_fee" value="Yes"> Yes <br/>
                    <input type="radio" id="of2" name="option_fee" value="No"> No
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-6">
                    <label>What is your age this year?</label>
                </div>
                <div class="col-md-6">
                    <input type="number" class="form-control" id="age" required/>
                </div>
            </div>

            <br>

             <div class="row">
                <div class="col-md-6">
                    <label>What type of 'Lock in' period do you prefer?</label>
                </div>
                <div class="col-md-6">
                    <!--<select id="lock_in_preference" class="form-control">-->
                      <!--<option value="Yes">'With Lock - In' Period (Lower Interest Rate)</option>-->
                      <!--<option value="No">'No Lock - In' Period (Higher Interest Rate)</option>-->
                    <!--</select>-->
                    <input type="radio" id="li1" name="lock_in" value="Yes"> With Lock - In' Period (Lower Interest Rate) <br/>
                    <input type="radio" id="li2" name="lock_in" value="No"> No Lock - In' Period (Higher Interest Rate)
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-6">
                    <label>What is the purchase price of your dream home?</label>
                </div>

                <div class="col-md-6">
                    <input type="text" class="form-control" id="loan_amount" />
                </div>
            </div>

            <br>

            <div class="row">
                <input type="checkbox" name="terms"> I consent and authorize DollarBackMortgage.com to contact me regarding my mortgage and to disclose any relevant information on my behalf to the banks I wish to apply to.</u>
            </div>

            <br/>

            <div class="row center">
                <button type="submit" class="btn btn-primary">Compare Rates</button>
            </div>
        </form>
    </div>
</section>

<section class="section-steps" id="bank-rates">
    <div class="container-fluid">
        <div class="row">
            <h2>Top 5 Bank Rates</h2>
            <p class="long-copy" id="pmt_rate"></p>

            <div id="root">

            </div>

        </div>
    </div>

</section>



{% endblock %}