{% extends 'base.html' %}

{% block content %}
<section>
    <div class="container">
        <h2>New Financing Calculator</h2>

        <form name="refinancing_calculator" action="javascript:newfinancingCalculator();">
            <div class="row">
                <div class="col-md-6">
                    <label>What property are you buying?</label>
                </div>
                <div class="col-md-6">
                    <select id="building_type">
                      <option value="Executive Condo">Executive Condo</option>
                      <option value="Private Condo">Private Condo</option>
                      <option value="Landed Property">Landed Property</option>
                      <option value="HDB">HDB</option>
                    </select>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-6">
                    <label>Is the property completed or under construction?</label>
                </div>
                <div class="col-md-6">
                    <select id="construction_type">
                      <option value="Completed">Completed</option>
                      <option value="Under Construction">Under Construction</option>
                    </select>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-6">
                    <label>Have you placed the Option Fee (deposit) for your dream home?</label>
                </div>
                <div class="col-md-6">
                    <select>
                      <option value="Yes">Yes</option>
                      <option value="No">No</option>
                    </select>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-6">
                    <label>What is your age this year?</label>
                </div>
                <div class="col-md-6">
                    <input type="number" class="form-control" id="age" />
                </div>
            </div>

            <br>

             <div class="row">
                <div class="col-md-6">
                    <label>What type of 'Lock in' period do you prefer?</label>
                </div>
                <div class="col-md-6">
                    <select>
                      <option value="Yes">'With Lock - In' Period (Lower Interest Rate)</option>
                      <option value="No">'No Lock - In' Period (Higher Interest Rate)</option>
                    </select>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-6">
                    <label>What is the purchase price of your dream home?</label>
                </div>

                <div class="col-md-6">
                    <input type="text" class="form-control" id="loan_amount" />
                </div>
            </div>

            <br>

            <div class="row">
                <input type="checkbox" name="terms"> I consent and authorize DollarBackMortgage.com to contact me regarding my mortgage and to disclose any relevant information on my behalf to the banks I wish to apply to.</u>
            </div>

            <br/>

            <div class="row center">
                <button type="submit" class="btn btn-primary">Compare Rates</button>
            </div>
        </form>
    </div>
</section>

<section class="section-steps" id="bank-rates">
    <div class="container-fluid">
        <div class="row">
            <h2>Top 5 Bank Rates</h2>
            <p class="long-copy" id="pmt_rate"></p>

            <div id="root">

            </div>

        </div>
    </div>
</section>



{% endblock %}