{% extends 'base.html' %}

{% block content %}
<section>
    <div class="container">
        <h2>Refinancing Calculator</h2>

        <form name="refinancing_calculator" action="javascript:refinancingCalculator();">
            <div class="row">
                <div class="col-md-6">
                    <label>What type of property are you refinancing?</label>
                </div>
                <div class="col-md-6">
                    <!--<select class="form-control" id="building_type" required>-->
                      <!--<option value="Executive Condo">Executive Condo</option>-->
                      <!--<option value="Private Condo">Private Condo</option>-->
                      <!--<option value="Landed Property">Landed Property</option>-->
                      <!--<option value="HDB">HDB</option>-->
                    <!--</select>-->
                    <input type="radio" id="p1" name="property" value="Executive Condo"> Executive Condo <br/>
                    <input type="radio" id="p2" name="property" value="Private Condo"> Private Condo <br/>
                    <input type="radio" id="p3" name="property" value="Landed Property"> Landed Property <br/>
                    <input type="radio" id="p4" name="property" value="HDB"> HDB
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-6">
                    <label>What is your remaining home loan amount ?</label>
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" id="remaining_home_amount" required/>
                </div>

            </div>

            <br>

            <div class="row">
                <div class="col-md-6">
                    <label>How much is your current approximate monthly instalment?</label>
                </div>
                <div class="col-md-6">
                    <input type="text" id="past_loan_amount" class="form-control" required />
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-6">
                    <label>How many years are remaining on your existing home loan?</label>
                </div>
                <div class="col-md-6">
                    <input type="number" id="loan_tenure" class="form-control" required />
                </div>
            </div>

            <br/>

            <div class="row">
                <div class="col-md-6">
                    <label>What type of 'Lock in' period do you prefer?</label>
                </div>
                <div class="col-md-6">
                    <!--<select id="lock_in_preference" class="form-control">-->
                      <!--<option value="Yes">'With Lock - In' Period (Lower Interest Rate)</option>-->
                      <!--<option value="No">'No Lock - In' Period (Higher Interest Rate)</option>-->
                    <!--</select>-->
                    <input type="radio" id="li1" name="lock_in" value="Yes"> With Lock - In' Period (Lower Interest Rate) <br/>
                    <input type="radio" id="li2" name="lock_in" value="No"> No Lock - In' Period (Higher Interest Rate)
                </div>
            </div>

            <br/>

            <div class="row center">
                <button type="submit" class="btn btn-primary">Compare Rates</button>
            </div>
        </form>
    </div>
</section>

<section class="section-steps" id="bank-rates">
    <div class="container-fluid">
        <div class="row">
            <h2>Top 5 Bank Rates</h2>
            <p class="long-copy" id="pmt_rate"></p>

            <div id="root">

            </div>

        </div>
    </div>
</section>

{% endblock %}